:root {
  --white2: #e0e0e0;
  --gray2: #828282;
  --orange2: #ff7800;
  --red2: #eb5757;
  --github: #6b87ec;
  --black2: #212121;
  --black3: #1e1e1e;
}

* {
  margin: 0;
}

body {
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(var(--black3) 60%, #2c2319);
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  overflow-y: scroll;
  height: 100vh;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(58, 38, 2); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: rgb(107, 80, 30); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.flex-box {
  display: flex;
}

.container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

header {
  padding: 3em 0.2em 1em 3em;
  margin-bottom: 2em;

  justify-content: center;
}

header > div {
  cursor: pointer;
}

/* AppHeader.js */
header img {
  /* display: block; */
  width: 120px;
  vertical-align: baseline;
}

.tick-tock {
  animation: ticktock 0.75s infinite alternate;
}

@keyframes ticktock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor-logo {
  margin-left: 0.2em;
  display: inline-block;
  height: 40px;
  width: 4px;
  background-color: var(--white2);
  content: " ";
}

.header-logo:hover .cursor-logo {
  animation: logo-hover 0.5s infinite alternate-reverse;
}

@keyframes logo-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-area {
  position: relative;
  width: 100%;
  display: block;
  height: 25vh;
}

.text-area textarea,
.user-input-area {
  position: absolute;
  font-size: 1.25rem;
  font-family: "Source Code Pro", monospace;
  color: var(--gray2);
  padding: 1em;
  background-color: var(--black2);
}

textarea {
  z-index: 99;
  opacity: 0;
}

.pb {
  color: var(--white2);
  letter-spacing: 2px;
  font-size: 1.25rem;
}
.timer {
  font-size: 1.25rem;
  color: var(--white2);
  opacity: 0;
  gap: 0.25em;
}

.timer div {
  height: 0.75rem;
  width: 0.75rem;
}

.timer i {
  vertical-align: middle;
}

.timer-icon {
  margin-right: 0.5em;
}

.type-bar {
  box-shadow: -2px 0px 0px rgb(202, 202, 202);
  animation: type-bar-animation 0.5s infinite alternate;
}

@keyframes type-bar-animation {
  0% {
    box-shadow: -2px 0px 0px transparent;
  }
  100% {
    box-shadow: -2px 0px 0px rgb(202, 202, 202);
  }
}

.timer-restart {
  width: 100%;
  letter-spacing: 2px;
  justify-content: space-between;
}

.restart-btn i {
  vertical-align: middle;
  font-size: 1.2rem;
}

.restart-btn {
  cursor: pointer;
  color: var(--orange2);
  margin-top: 0.25em;
  gap: 0.2em;
  margin-bottom: 0.25em;
  transition: color 0.2s ease-in-out;
}

.restart-btn:hover {
  color: #ffa658;
}
.restart-btn:active {
  color: #c06d24;
}
.restart-btn:hover .restart-icon {
  animation: restarthover 0.2s forwards ease-in-out;
}

.restart-btn:active .restart-icon {
  animation: restartactive 0.2s forwards ease-in-out;
}

@keyframes restarthover {
  0% {
    rotate: 0deg;
  }

  25% {
    color: #ffa658;
  }

  100% {
    rotate: 30deg;
  }
}

@keyframes restartactive {
  0% {
    rotate: 0deg;
  }

  25% {
    color: #c06d24;
  }

  100% {
    rotate: 360deg;
  }
}

.result {
  color: var(--white2);
  margin-bottom: 0.75em;

  overflow: hidden;
  max-height: 12rem;
}

.result h2 {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.result h5 {
  font-size: 1.2rem;
}

.after-result {
  width: 100%;

  gap: 5em;
}

/* .result-heading {
  display: flex;
  flex-direction: row;
} */

.result-item {
  width: 20%;
  padding-bottom: 0.5em;
  flex-direction: column;
  border-bottom: 2px solid orange;
}

.result-value {
  font-size: 2rem;
}

.show-result {
  animation: showresult 0.8s ease-in;
}

@keyframes showresult {
  0% {
    max-height: 0rem;
  }

  100% {
    max-height: 12rem;
  }
}

.fade-in {
  animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeout 0.35s ease-in-out;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

footer {
  align-items: center;

  gap: 0.5em;
  height: 6rem;
  justify-content: center;
  color: var(--white2);
  letter-spacing: 2px;
  font-weight: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

footer a {
  text-decoration: none;
}

.footer-link {
  display: block;
  color: var(--github);
  border-bottom: 2px solid var(--github);
}
.footer-link:hover {
  color: #4d62ac;
  border-bottom: 2px solid #4d62ac;
}

@media only screen and (max-width: 480px) {
  .result-item h5 {
    font-size: 1rem;
  }
  .result-value {
    font-size: 2rem;
  }

  .after-result {
    gap: 3em;
  }
  header {
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
  .header-logo img {
    height: 2rem;
    width: auto;
  }
  .cursor-logo {
    height: 20px;
    width: 2px;
  }
}
